<!DOCTYPE html>
<html>
<head>
  <title>FrontendTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="image-container">
    <%= image_tag("map.png") %>
    <div>
      <%= image_tag("teachable-logo.png") %>
    </div>
    <div class="links">
      <a>Link 1</a>
      <a>Link 2</a>
    </div>
  </div>

<%= yield %>

</body>
</html>
